.header-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0;
  color: #d9d9d9;
  letter-spacing: 2px;
  .logo {
    .logo1 {
      width: 100px;
    }
  }
  .navbar-content {
    display: flex;
    align-items: center;
    gap: 28px;
    p {
      cursor: pointer;
    }
  }
}
