@font-face {
  font-family: "Walkway-Black";
  src: url("../src//assets/fonts/Walkway_Black.ttf");
}
@font-face {
  font-family: "Walkway-Bold";
  src: url("../src//assets/fonts/Walkway_Bold.ttf");
}
@font-face {
  font-family: "Walkway-SemiBold";
  src: url("../src//assets/fonts/Walkway_SemiBold.ttf");
}
@font-face {
  font-family: "Walkway-UltraBold";
  src: url("../src//assets/fonts/Walkway_UltraBold.ttf");
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Walkway-Black";
  background: #fffbf6;
}

.app {
  padding: 20px;
  height: 100vh;
  max-width: 55%;
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
